<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.rsd.service.impl"/>
    <context:component-scan base-package="com.rsd.controller"/>
    <context:component-scan base-package="com.rsd.dao.impl"/>

    <!--使用的是Aspectj的AOP功能，增加AOP注解标签的使用-->
    <aop:aspectj-autoproxy />
    <context:component-scan base-package="com.rsd.aop" />

    <!--放行所有静态资源-->
    <mvc:default-servlet-handler/>
    <!-- 加了上一行配置后，controller无法访问，需要增加如下一行配置。-->
    <mvc:annotation-driven/>

    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://139.9.116.29:3306/rsd_website"/>
        <property name="username" value="root"/>
        <property name="password" value="Gao_123456"/>
    </bean>

    <bean name="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean name="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mappers/*.mapper.xml"/><!--扫描mapper配置文件-->
        <property name="configuration">
            <bean class="org.apache.ibatis.session.Configuration">
                <property name="mapUnderscoreToCamelCase" value="true"/><!--数据库字段下划线转为驼峰式命名-->
                <property name="cacheEnabled" value="true"/><!--二级缓存-->
                <property name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/><!--开启日志信息-->
            </bean>
        </property>
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor"/><!--分页插件-->
                <bean class="com.rsd.interceptor.UpdateInterceptor"/> <!--时间自动插入和修改-->
            </array>
        </property>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.rsd.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="factory"/>
    </bean>

    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <tx:annotation-driven transaction-manager="dataSourceTransactionManager" />


<!--    <tx:advice id="ss" transaction-manager="dataSourceTransactionManager">-->
<!--        <tx:attributes>-->
<!--            <tx:method name="more*"/>-->
<!--        </tx:attributes>-->
<!--    </tx:advice>-->
<!--    -->
<!--    <aop:config>-->
<!--        <aop:advisor advice-ref="ss" pointcut="execution(* com.rsd.service.impl.*.*(..))"/>-->
<!--    </aop:config>-->

    <bean id="factory1" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://139.9.116.29:61616"/>
        <property name="userName" value="admin"/>
        <property name="password" value="admin"/>
        <property name="trustAllPackages" value="true"/>
    </bean>
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="factory1"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

    <bean id="queue1" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="exam.queue"/>
    </bean>
    <bean id="queue2" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="AA.queue"/>
    </bean>

    <bean id="topic1" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="exam.topic"/>
    </bean>

    <bean id="topic2" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="AA.topic"/>
    </bean>

</beans>